:root {
    --noteHeadWidth: calc(4px * var(--staffSize));
    --noteHeadHeight: calc(2px * var(--staffSize));
    --noteHeadBorder: calc(1px * var(--staffSize));
    --noteHeadTop: calc(-1.7px * var(--staffSize));
    --stemHeight: calc(10px * var(--staffSize));
    --stemWidth: calc(0.75px * var(--staffSize));
    --stemTop: calc(-10px * var(--staffSize));
    --stemLeft: calc(5.2px * var(--staffSize));
    --noteFlagTop: calc(-11.3px * var(--staffSize));
    --noteFlagWidth: calc(10px * var(--staffSize));
    --noteFlagHeight: calc(8px * var(--staffSize));
    --noteFlagLeft: calc(1.75px * var(--staffSize));
}

.note-input {
    position: fixed;
    top: 25px;
    z-index: 0;
    display: flex;
}

.note-input-value {
    border: 1px solid black;
    border-radius: 15%;
    width: calc(25px * var(--staffSize));
    height: calc(25px * var(--staffSize));
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-input-value>* {
    position: absolute;
    top: auto;
    margin-left: -12px;
    margin-top: 10px;
}

m-current-note-input-value {
    margin-left: 50px;
}

m-measure {
    position: relative;
}

m-note {
    position: relative;
}

m-note-head {
    position: absolute;
    width: var(--noteHeadWidth);
    z-index: 1;
    top: var(--noteHeadTop);
    height: var(--noteHeadHeight);
    border: var(--noteHeadBorder) solid black;
    border-radius: 50%;
    transform: rotate(-20deg);
}

m-note-head>* {
    width: 100%;
    height: 100%;
}

m-note-flag {
    position: absolute;
    width: var(--noteFlagWidth);
    height: var(--noteFlagHeight);
}

m-note-flag>* {
    width: 100%;
    height: 100%;
    top: var(--noteFlagTop);
    position: absolute;
    left: var(--noteFlagLeft);
    transform: rotateX(180deg);
}

m-note-stem {
    position: absolute;
    height: var(--stemHeight);
    width: var(--stemWidth);
    background-color: black;
    top: var(--stemTop);
    left: var(--stemLeft);
}

.black {
    background-color: black;
}

.sixteenths {
    top: calc(2.5px * var(--staffSize));
}

.thirtyseconds {
    top: calc((5px * var(--staffSize)));
}